<div class="frame" style="width: 100.1%;">
    <div class="control">
        <div  [(id)]="toolbarEvents"  style="font-size:18px;">
            <ul>
                <li data-id="1" title="new">
                    <div class="fa fa-plus-square-o" ></div>
                </li>
                <li data-id="2" title="open">
                    <div class="fa fa-folder-open-o"></div>
                </li>
                <li data-id="3" title="save">
                    <div class="fa fa-floppy-o"></div>
                </li>
                <li data-id="4" title="remove">
                    <div class="glyphicon glyphicon-trash" ></div>
                </li>
                <li data-id="5" title="Sticky Notes">
                    <div class="fa fa-file-pdf-o" ></div>
                </li>
                <li data-id="6" title="Calendar">
                    <div class="fa fa-file-image-o" ></div>
                </li>
                <!--<li title="Delete">-->
                    <!--<div class="mailtools done" ></div>-->
                    <!--</li>-->
            </ul>
        </div>
    </div>
</div>