<div class="content-container-fluid">
    <div class="row">
        <div class="cols-sample-area">
            <div class="control_section">
                <div class="symPalette_section">
                    <div id="symbolpalette">
                    </div>
                </div>
                <div class="middle_section"></div>
                <div class="diagram_section">
                    <div id="diagram"></div>
                </div>
            </div>
        </div>
        <div id="sampleProperties">
            <div class="prop-grid">
                <div class="row" id="basic_shape_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        Shapes
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="basic_shape" />
                    </div>
                </div>
                <div class="row" id="BPMNEvents_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        BPMNEvents
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="BPMNEvents" />
                    </div>
                </div>
                <div class="row" id="BPMNTriggers_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        BPMNTriggers
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="BPMNTriggers" />
                    </div>
                </div>
                <div class="row" id="BPMNGateways_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        BPMNGateway
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="BPMNGateways" />
                    </div>
                </div>
                <div class="row" id="BPMNDataObjects_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        DataObjects
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="BPMNDataObjects" />
                    </div>
                </div>
                <div class="row" id="CompensationShape_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        Compensation
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="CompensationShape" />
                    </div>
                </div>
                <div class="row" id="TaskCall_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        Call
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="TaskCall" />
                    </div>
                </div>
                <div class="row" id="AddHoc_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        AddHoc
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="AddHoc" />
                    </div>
                </div>
                <div class="row" id="BPMNCollection_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        BPMNCollection
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="BPMNCollection" />
                    </div>
                </div>
                <div class="row" id="BPMNActivity_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        BPMNActivity
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="BPMNActivity" />
                    </div>
                </div>
                <div class="row" id="BPMNLoops_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        BPMNLoops
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="BPMNLoops" />
                    </div>
                </div>
                <div class="row" id="BPMNTasks_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        BPMNTasks
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="BPMNTasks" />
                    </div>
                </div>
                <div class="row" id="BPMNSubProcess_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        SubProcess
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="BPMNSubProcess" />
                    </div>
                </div>
                <div class="row" id="BPMNBoundary_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        Boundary
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="BPMNBoundary" />
                    </div>
                </div>

                <div class="row" id="BPMNFlows_prop" style="display:none">
                    <div class="col-md-3 aligntop">
                        BPMNFlows
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="BPMNFlows" />
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>