<div style="height: 100%;overflow: hidden;">
    <div [id]="toolbarHeaderID" class="" style=""></div>
    <div class="bodycontent" style="display: flex;height: calc(100% - (33px));">
        <div class="col-md-2" style="border:1px solid #0b2e13;background-color:#4FB29F;border-radius: 5px;height:100%;padding: 15px 0 0 0;">
            <div [id]="treeViewID"></div>
        </div>
        <div [id]="tileViewID" class="col-md-10" style="border:1px solid #0b2e13;border-radius: 5px; height:100%;"></div>
    </div>
</div>
